.job-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 

    padding: 0 20px;
}

.card {
    padding: 20px;

    a {
        cursor: pointer;
    }
}